@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

body {
  margin: 0;
  background: rgb(0, 255, 255);
  background: radial-gradient(circle, rgba(0, 255, 255, 1) 38%, rgba(70, 252, 181, 1) 98%);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}